<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<!-- Configure auto-scanned packages -->
	<context:component-scan base-package="com.tony.spring.hibernate"></context:component-scan>

	<!-- Configure data source -->
	<!-- Import properties file -->
	<context:property-placeholder location="classpath:db.properties" />



	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="driverClass" value="${jdbc.driverclass}"></property>
		<property name="jdbcUrl" value="${jdbc.jdbcurl}"></property>
		<property name="initialPoolSize" value="${jdbc.initPoolSize}"></property>
		<property name="maxPoolSize" value="${jdbc.maxPoolSize}"></property>
	</bean>

	<!-- Configure Hibernate's SessionFactory instance by Spring's LocalSessionFactoryBean -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- Configure data source  -->
		<property name="dataSource" ref="dataSource"></property>
		
		
		<!-- Configure hinernate configuration file location and name -->
		<!--  
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
		
		-->
		
		<!-- Use "hibernateProperties" attribute to configure Hibernate attributes-->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.formate_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		
		</property>
				
		
		<!-- Configure hibernate mapping files' location and name, can use wilecard -->
		<property name="mappingLocations" value="classpath:com/tony/spring/hibernate/entities/*.hbm.xml"></property>
	</bean>


	<!-- Configure Spring's annotation -->
	<!-- 1. Configure transaction manager -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
		
	</bean>
	
	<!-- 2. Configure transaction attribute in transaction manager -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="purchase" propagation="REQUIRES_NEW"/>
		</tx:attributes>
	
	
	</tx:advice>
	
	<!-- 3. Configure transaction cut points, and relate cut points and transaction attributes -->
	<aop:config>
		<aop:pointcut expression="execution(* com.tony.spring.hibernate.service.*.*(..))" 
		id="txPointcut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>
	</aop:config>

</beans>
